%h1 HTML Fetcher

%p.errors

%input.request-url{type:'text', value: 'Enter URL here. Start with: http://'}
%input.submit-button{type:'submit'}
%ul.job-list
  - @page_resources.each do |page_resource|
    -job = page_resource.latest_job
    -url = page_resource.url
    %li{id: "page_#{page_resource.id}", 'data-page-id'=> page_resource.id}
      .url{title: url}= url
      .status= "Status: #{job.status}"
      %button{class: 'status-check', 'data-job-id'=> job.id} Check status
%textarea

:javascript
  $(function() {
     function HTMLFetcher() {
        $(document).on('click', '.submit-button', function() {
          var $requestURL = $('.request-url').val();
          $.get('request_job/?url=' + encodeURIComponent($requestURL), function() {
          }).done(function(resp) {
            cleanPage();
            var html = "<li id='page_" + resp.page_id + "' data-page-id='" + resp.page_id + "'>" +
                          "<div class='url'>" + $requestURL + "</div>" +
                          "<div class='status'>Status: " + resp.job_status + "</div>" +
                          "<button class='status-check' data-job-id='" + resp.job_id + "'>Check status</button>" +
                        "</li>"
            var $pageItem = $('ul').find("[data-page-id=" + resp.page_id + "]");
            if (resp.job_status === 'creating' && $pageItem.length === 0) {
              $('.job-list').prepend(html);
            } else if (resp.job_status === 'done') {
              setHTML($pageItem, resp.html);
            } else {
              $pageItem.html(html);
            }
          }).fail(function(resp) {
            handleError(resp);
          });
        });
        $(document).on('click', '.status-check', function() {
          var $button = $(this);
          var jobId = $button.attr('data-job-id');
          var $pageItem = $button.closest('li');
          var $pageItemStatus = $pageItem.find(".status");
          $.get('request_status/?job_id=' + jobId, function() {
          }).done(function(resp) {
            $pageItemStatus.text("Status: " + resp.status);
            if (resp.status === 'done') {
              setHTML($pageItem, resp.html);
            }
          }).fail(function(resp) {
            handleError(resp);
          });
        });
        function setHTML($pageItem, html) {
          cleanPage();
          $('textarea').val(html);
          $pageItem.addClass('shown');
        }
        function cleanPage() {
          $('li').removeClass('shown');
          $("input[type='text']").val("http://");
          $("textarea").val("");
          $('.errors').text('');
        };
        function handleError(resp) {
          var message;
          switch (resp.status) {
            case 500:
              message = 'Server error';
              break;
            case 404:
              message = 'Not found';
              break;
            case 400:
              message = 'Bad request';
              break;
            default:
              message = 'Something went wrong.'
          };
          $('.errors').text(message);
        };
        cleanPage();
     }
     HTMLFetcher();
  });