%h1 HTML Fetcher

%input.request-url{type:'text', placeholder: 'Emter URL here'}
%input.submit-button{type:'submit'}
%ul.job-list
  - @jobs.each do |job|
    -job_class = "job_#{job.id}"
    -url = job.page_resource.url
    %li{class: job_class}
      .url{title: url}= url
      .status= "Status: #{job.status}"
      %button{class: job_class + " status-check"} Check status
%textarea

:css
  body {
    padding:0;
    margin:0;
    background: gray;
  }
  .wrapper {
    width: 620px;
    margin: 0 auto;
    background: ghostwhite;
    padding: 20px;
  }
  h1 {
    margin: 0;
  }
  input, textarea {
    margin-left: 20px;
    margin-top:20px;
  }
  input[type='text'] {
    width: 435px;
  }
  textarea {
    min-width: 560px;
    min-height:300px;
  }
  ul {
    padding: 0;
    height: 200px;
    overflow: scroll;
  }
  li {
    list-style-type: none;
  }
  li.shown {
    background: gainsboro;
  }
  li div {
    float: left;
    margin-left: 20px;
  }
  .url {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .status {
    width: 150px;
  }

:javascript
  $(function() {
     function HTMLFetcher() {
        $('.submit-button').on('click', function() {
          var $requestURL = $('.request-url').val();
          $.get('request_job/?url=' + encodeURIComponent($requestURL), function() {
          }).done(function(resp) {
            var jobID = 'job_' + resp.job_id;
            var html = "<li class='" + jobID + "'>" + $requestURL + "</li><button class='" + jobID + "'>" + resp.job_status + "</button>"
            if (resp.job_status === 'creating' ) {
              $('.job-list').prepend(html);
            } else {
              $('li.'+jobID).html(html);
            }
          });
        });

        $('.status-check').on('click', function() {
          var jobClass = $(this).attr('class').split(" ")[0]
          var jobId = jobClass.split('_')[1];
          var $jobItem = $("li." + jobClass);
          var $jobItemStatus = $("li." + jobClass + " .status");
          $.get('request_status/?job_id=' + jobId, function() {
          }).done(function(resp) {
            console.log(resp);
            $jobItemStatus.text("Status: " + resp.status);
            if (resp.status === 'done') {
              $('li').removeClass('shown');
              $('textarea').val(resp.html);
              $jobItem.addClass('shown');
            }
          });
        });
     }
     HTMLFetcher();
  });